Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
data/
data
.cache
.venv
.nc
.png
.tif
.zip
.shp
era5_small/
era5_rasters_bins/
interpolated_rasters/
output/
*.db
*.sqlite
logs/

